<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.bougetafrance" version="0.0.1" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Bouge Ta France</name>
    <description>
        L'application de l'évènement !
    </description>
    <author email="p.gruson@gmail.com" href="http://paulgruson.fr">
        Paul Gruson
    </author>
    <content src="index.html" />
    <access origin="bougetafrance.fr" />


    <preference name="permissions" value="none" />

    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <gap:plugin name="de.appplant.cordova.plugin.email-composer" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/android-icon-36x36.png"/>
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/android-icon-48x48.png"/>
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/android-icon-72x72.png"/>
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/android-icon-96x96.png"/>

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screen/android/small.jpg"/>
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screen/android/medium.jpg"/>
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screen/android/large.jpg"/>
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/xlarge.jpg"/>

    <platform name="android">
      <splash src="www/res/screen/android/large.jpg" density="port-hdpi"/>
      <splash src="www/res/screen/android/small.jpg" density="port-ldpi"/>
      <splash src="www/res/screen/android/medium.jpg" density="port-mdpi"/>
      <splash src="www/res/screen/android//xlarge.jpg" density="port-xhdpi"/>
    </platform>

    <!-- <platform name="ios">
      <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
      <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
      <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
      <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
      <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
      <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
      <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
      <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
      <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
      <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform> -->

    <plugin name="cordova-plugin-whitelist" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
      <allow-intent href="market:*"/>
    </platform>

</widget>
