<ons-list class="menu-list">
  <ons-list-item class="menu-item light-green" ng-click="menu.setMainPage('home.html', {closeMenu: true});">
    <ons-icon icon="ion-home" fixed-width="true"></ons-icon>
    Accueil
  </ons-list-item>

  <ons-list-item class="menu-item red" ng-click="menu.setMainPage('aboutus.html', {closeMenu: true});">
    <ons-icon icon="ion-android-contacts" fixed-width="true"></ons-icon>
    BTF, C'est quoi ?
  </ons-list-item>

  <ons-list-item class="menu-item yellow" ng-click="menu.setMainPage('posts.html', {closeMenu: true});">
    <ons-icon icon="ion-pound" fixed-width="true"></ons-icon>
    Actualités
  </ons-list-item>

<ons-list-item class="menu-item orange" ng-click="menu.setMainPage('ateliers.html', {closeMenu: true});">
    <ons-icon icon="ion-speakerphone" fixed-width="true"></ons-icon>
    Ateliers BTF
  </ons-list-item>

  <ons-list-item class="menu-item blue" ng-click="menu.setMainPage('programme.html', {closeMenu: true});">
    <ons-icon icon="ion-ios-list-outline" fixed-width="true"></ons-icon>
    Programme
  </ons-list-item>

  <ons-list-item class="menu-item violet" ng-click="menu.setMainPage('speakers.html', {closeMenu: true});">
    <ons-icon icon="ion-mic-c" fixed-width="true"></ons-icon>
    Orateurs
  </ons-list-item>

  <ons-list-item class="menu-item rose" ng-click="menu.setMainPage('medias.html', {closeMenu: true});">
    <ons-icon icon="ion-videocamera" fixed-width="true"></ons-icon>
    Medias
  </ons-list-item>

  <!-- <ons-list-item class="menu-item red" ng-click="menu.setMainPage('locations.html', {closeMenu: true});">
    <ons-icon icon="ion-ios-location" fixed-width="true"></ons-icon>
    Plan
  </ons-list-item> -->

  <ons-list-item class="menu-item orange" ng-click="menu.setMainPage('contact.html', {closeMenu: true});">
    <ons-icon icon="ion-chatbubbles" fixed-width="true"></ons-icon>
    Contact
  </ons-list-item>
 <div class="container">
  <span class="buttonrs fb">
      <a href="https://www.facebook.com/Bouge-ta-France-425673790977251/"><img src="images/facebook.png"></a>
  </span>
  
  <span class="buttonrs twit">
      <a href="https://twitter.com/bougetafrance"><img src="images/twitter.png"></a>
  </span>
  
  <span class="buttonrs you">
      <a href="https://www.youtube.com/channel/UCtLNw5X7SoID7ieX24qWC4Q"><img src="images/youtube.png"></a>
  </span>
</div>
  <ons-list-item ng-show="isFetchingMenu">
    <ons-icon icon="ion-loading-c" fixed-width="false" >
    </ons-icon>
  </ons-list-item>

</ons-list>
<div class="app-hero app-hero-image">
    <img src="images/cnef.png" class="app-hero-bg">
</div>
