<ons-navigator animation="slide" var="speakers">
  <ons-page>
    <ons-toolbar modifier="opacity">
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
      </div>
    </ons-toolbar>

    <div class="app-page home opacity-bar" ng-controller="speakersController">
      <div class="app-hero blue app-hero-image app-hero-bottom">
      </div>

      <h1>Orateurs</h1>

      <div class="app-page-content">

        <div class="speaker" ng-click="showSpeaker('speakers/nick-vujicic.html');">
          <img src="./images/speakers/nick-vujicic.jpg" alt="Nick Vujicic" class="circled" />
          <h2>Nick Vujicic</h2>
        </div>
        <hr class="small">

        <div class="speaker">
          <a ng-click="showSpeaker('speakers/thiebault-geyer.html');">
            <img src="./images/speakers/thiebault-geyer.jpg" alt="Thiebault Geyer" class="circled" />
            <h2>Thiebault Geyer</h2>
          </a>
        </div>
        <hr class="small">

        <div class="speaker">
          <a ng-click="showSpeaker('speakers/timothee-paton.html');">
            <img src="./images/speakers/timothee-paton.jpg" alt="Timothée Paton" class="circled" />
            <h2>Timothée Paton</h2>
          </a>
        </div>
        <hr class="small">

        <div class="speaker">
          <a ng-click="showSpeaker('speakers/rene-delattre.html');">
            <img src="./images/speakers/rene-delattre.jpg" alt="Rene Delattre" class="circled" />
            <h2>Rene Delattre</h2>
          </a>
        </div>
        <hr class="small">

        <div class="speaker">
          <a ng-click="showSpeaker('speakers/franck-meyer.html');">
            <img src="./images/speakers/franck-meyer.jpg" alt="Franck Meyer" class="circled" />
            <h2>Franck Meyer</h2>
          </a>
        </div>
        <hr class="small">
        
        <div class="speaker">
            <a ng-click="showSpeaker('speakers/raphael-charrier.html');">
                <img src="./images/speakers/Raphael-charrier.jpg" alt="Raphael Charrier" class="circled" />
                <h2>Raphael Charrier</h2>
            </a>
        </div>
        <hr class="small">
      </div>
      

    </div>

  </ons-page>
</ons-navigator>
